# Xcode
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xccheckout
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Build artifacts
build/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace
